# SPDX-FileCopyrightText: 2026 Intel Corporation
# SPDX-FileCopyrightText: 2021 Open Networking Foundation <info@opennetworking.org>
# SPDX-License-Identifier: Apache-2.0

Sphinx~=9.1
doc8~=2.0.0
reuse~=6.2.0
furo~=2025.12.19
sphinxcontrib-spelling~=8.0.2
