# SPDX-FileCopyrightText: 2021 Open Networking Foundation <info@opennetworking.org>
# SPDX-License-Identifier: Apache-2.0

Sphinx~=5.0
doc8~=0.10.1
docutils~=0.17.1
reuse~=3.0.1
sphinx-rtd-theme~=2.0.0
sphinxcontrib-spelling~=8.0.0
sphinx-multiversion~=0.2.4
