# SPDX-FileCopyrightText: 2021 Open Networking Foundation <info@opennetworking.org>
# SPDX-License-Identifier: Apache-2.0

Sphinx~=7.4
doc8~=1.1.2
reuse~=4.0.3
sphinx-rtd-theme~=3.0.1
sphinxcontrib-spelling~=8.0.0
sphinx-multiversion~=0.2.4
