/*
 * SPDX-FileCopyrightText: 2021 Open Networking Foundation <info@opennetworking.org>
 * SPDX-License-Identifier: Apache-2.0
*/

/* Don't restrict content width on the RTD theme
 * from: https://stackoverflow.com/a/32898444 */

.wy-nav-content {
  max-width: none;
}

.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal;
}

.wy-side-nav-search {
  background-color: #d9d9d9;
}

.wy-side-nav-search>div.version {
  color: #404040;
}
