# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Main workflow

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  doc8:
    permissions:
      contents: read
      actions: read
      security-events: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/make-target-reuse.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}
      target: doc8

  spell-check:
    permissions:
      contents: read
      checks: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/make-target-reuse.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}
      target: spelling

  link-check:
    permissions:
      contents: read
      checks: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/make-target-reuse.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}
      target: linkcheck

  license-check:
    permissions:
      contents: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/license-check.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}

  fossa-scan:
    permissions:
      contents: read
      security-events: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/fossa-scan.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}

  analysis:
    if: github.repository_owner == 'omec-project'
    permissions:
      actions: read
      artifact-metadata: read
      attestations: read
      checks: read
      contents: read
      deployments: read
      discussions: read
      id-token: write
      issues: read
      models: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      security-events: write
      statuses: read
    uses: omec-project/.github/.github/workflows/scorecard-analysis.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}
