# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Publish Docs Workflow

on:
  push:
    branches:
      - master  
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build docs
        run: make html

      - name: List built files
        run: |
          files=$(ls ${{ github.workspace }}/_build/html)
          if [ -z "$files" ]; then
            echo "No files found in _build/html directory"
            exit 1
          else
            echo "$files"
          fi

  publish:
    runs-on: ubuntu-latest
    env:
      BUILD_OUTPUT_PATH: _build/multiversion/
    steps:
      - uses: actions/checkout@v4

      - name: Build docs
        run: make multiversion

      - name: List built files
        run: ls $BUILD_OUTPUT_PATH*

      - name: rsync deployments
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -rvzh --delete-after --exclude=.git
          path: $BUILD_OUTPUT_PATH
          remote_path: /srv/sites/docs.sd-core.opennetworking.org/
          remote_host: static.opennetworking.org
          remote_user: ${{ secrets.JENKINS_USERNAME }}
          remote_key: ${{ secrets.JENKINS_SSHKEY }}
          remote_key_pass: ${{ secrets.JENKINS_PASSPHRASE }}
