# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Publish Docs Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate:
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/validate.yml@313f90fdb8e4b93d4c3968c0b88f217fe84de9b8 # v0.0.5
    with:
      branch_name: ${{ github.ref }}

  tag-github:
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/tag-github.yml@313f90fdb8e4b93d4c3968c0b88f217fe84de9b8 # v0.0.5
    secrets: inherit

  update-version:
    needs: tag-github
    permissions:
      contents: write
      pull-requests: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/update-version.yml@313f90fdb8e4b93d4c3968c0b88f217fe84de9b8 # v0.0.5
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
    secrets: inherit

  publish:
    if: github.repository_owner == 'omec-project'
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/publish-docs.yml@313f90fdb8e4b93d4c3968c0b88f217fe84de9b8 # v0.0.5
    secrets: inherit
    with:
      branch_name: ${{ github.ref }}
