# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Publish Docs Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tag-github:
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/tag-github.yml@64e827412bb394b5458ef48b4e178fc1c702678a # v0.0.10
    secrets: inherit

  update-version:
    needs: tag-github
    permissions:
      contents: write
      pull-requests: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/update-version.yml@64e827412bb394b5458ef48b4e178fc1c702678a # v0.0.10
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
    secrets: inherit

  publish:
    if: github.repository_owner == 'omec-project'
    permissions:
      contents: write
      actions: read
      id-token: write
      pages: write
    uses: omec-project/.github/.github/workflows/publish-docs.yml@64e827412bb394b5458ef48b4e178fc1c702678a # v0.0.10
    secrets: inherit
    with:
      branch_name: ${{ github.ref }}
