# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Publish Docs Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate:
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/validate.yml@1e62855922cacee05c51f0fc7245fc9e1e7b38a6 # v0.0.8
    with:
      branch_name: ${{ github.ref }}

  tag-github:
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/tag-github.yml@1e62855922cacee05c51f0fc7245fc9e1e7b38a6 # v0.0.8
    secrets: inherit

  update-version:
    needs: tag-github
    permissions:
      contents: write
      pull-requests: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/update-version.yml@1e62855922cacee05c51f0fc7245fc9e1e7b38a6 # v0.0.8
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
    secrets: inherit

  publish:
    if: github.repository_owner == 'omec-project'
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/publish-docs.yml@1e62855922cacee05c51f0fc7245fc9e1e7b38a6 # v0.0.8
    secrets: inherit
    with:
      branch_name: ${{ github.ref }}
