# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Publish Docs Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tag-github:
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/tag-github.yml@d2c362a98ad0cb4911ea762e25109f71f2301d9e # v0.0.12
    secrets: inherit

  update-version:
    needs: tag-github
    permissions:
      contents: write
      pull-requests: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/update-version.yml@d2c362a98ad0cb4911ea762e25109f71f2301d9e # v0.0.12
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
    secrets: inherit

  publish:
    if: github.repository_owner == 'omec-project'
    permissions:
      contents: write
      actions: read
      id-token: write
      pages: write
    uses: omec-project/.github/.github/workflows/publish-docs.yml@d2c362a98ad0cb4911ea762e25109f71f2301d9e # v0.0.12
    secrets: inherit
    with:
      branch_name: ${{ github.ref }}

  sbom-source:
    needs: tag-github
    permissions:
      contents: read
      actions: read
    uses: omec-project/.github/.github/workflows/sbom-source.yml@d2c362a98ad0cb4911ea762e25109f71f2301d9e # v0.0.12
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      branch_name: ${{ github.ref }}
      artifact_name: ${{ github.event.repository.name }}-${{ needs.tag-github.outputs.version }}.spdx.json
      sbom_format: spdx-json
      path: .

  grype-scan:
    needs: [tag-github, sbom-source]
    permissions:
      contents: read
      actions: read
      security-events: write # Required for SARIF upload to Code Scanning
    uses: omec-project/.github/.github/workflows/grype-scan.yml@d2c362a98ad0cb4911ea762e25109f71f2301d9e # v0.0.12
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      artifact_name: ${{ github.event.repository.name }}-${{ needs.tag-github.outputs.version }}.spdx.json
